#dashboard-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}

#dashboard-navigation-div {
  width: 20vw;
  height: 100vh;
  background-color: #36454f;
  color: white;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#company-details {
  font-size: 24px;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.partition-line {
  background-color: #5e6a72;
  width: 100%;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.dashboard-navigation-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.dashboard-navigation-item {
  padding: 1rem;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0.1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dashboard-navigation-item:hover {
  background-color: #5e6a72;
}

.dashboard-navigation-item p {
  color: white;
  font-size: 14px;
}

.active-navigation-item {
  background-color: #03c988;
}
.active-navigation-item:hover {
  background-color: #03c988;
}

/* Right side */

#dashboard-content-div {
  width: 80vw;
  /* min-height: 100vh !important; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white !important;
}

#dashboard-content-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.dashboard-navbar-left-side {
  display: flex;
  align-items: center;
}

.dashboard-nav-searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f2;
  padding: 1.5rem;
  margin-left: 3rem;
  border-radius: 7px;
}

.dashboard-nav-searchbar p {
  margin-right: 10rem;
  font-size: 12px;
  color: #5e6a72;
}

.dashboard-search-input {
  background-color: #f1f2f2;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif !important;
  margin-right: 1rem;
  font-size: 12px;
  color: #36454f;
}

.navbar-menu-icon {
  display: none;
}

.dashboard-navbar-dropdown {
}

.bell-icon {
  margin-right: 2rem;
}

#navbar-admin-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar-admin-logo {
  padding-right: 2rem;
}

#navbar-admin-logo img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 75%;
  margin-right: 1rem;
  cursor: pointer;
}

#admin-username {
  font-size: 16px;
  font-weight: 500;
  padding-right: 3rem;
}

#admin-fullname {
  font-size: 12px;
  padding-right: 3rem;
  color: #5e6a72;
}

#dashboard-content-details {
  min-height: 10vh;
  padding: 0 3rem;
}

#dashboard-content-user-graph-div {
  width: 100%;
  min-height: 15vh;
  background-color: #f1f2f2;
  border-radius: 10px;
  margin-top: 3rem;
}

#dashboard-content-today-details-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

#users-text {
  font-size: 20px;
  font-weight: 600;
}

.dashboard-user-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dashboard-filter-button {
  background-color: #f1f2f2;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dashboard-filter-button:hover {
  background-color: #ebeced;
}

#dashboard-filter-button p {
  font-size: 12px;
  font-weight: 500;
  color: #36454f;
  padding-left: 1rem;
}

#dashboard-create-user-button {
  background-color: #03c988;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

#dashboard-create-user-button:hover {
  background-color: #03b57a;
}

#dashboard-create-user-button p {
  font-size: 12px;
  font-weight: 500;
  color: white;
}

/* pop-up css */
/* Overlay styling */
/* Overlay styling */

/* Existing styles from before */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  animation: fadeIn 0.3s ease-in-out;
}

#enter-user-details-text {
  font-size: 18px;
  font-weight: 600;
  color: #36454f;
  margin-bottom: 2rem;
}

/* Popup container */
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  animation: slideIn 0.4s ease forwards;
  z-index: 1000;
  padding: 2rem 3rem;
  padding-bottom: 3rem;
  width: 30vw;
  /* width: 320px; */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Popup box styling */
.popup {
  text-align: left;
}

/* Animations */
@keyframes slideIn {
  from {
    transform: translate(-50%, -60%) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Button styling */
.popup-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.user-create-buttons-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-create-cancel-btn {
  text-align: center;
  width: 45%;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: #f1f2f2;
  color: #36454f;
  border: none;
  border-radius: 7px;
  margin-top: 3rem;
}

.user-create-cancel-btn:hover {
  background-color: #ebeced;
}

.user-create-submit-btn {
  text-align: center;
  width: 45%;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: #03c988;
  color: #fff;
  border: none;
  border-radius: 7px;
  margin-top: 3rem;
}

.user-create-submit-btn:hover {
  background-color: #03b57a;
}

/* .submit-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: #03c988;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 3rem;
}

.submit-btn:hover {
  background-color: #03b57a;
}

.submit-btn p {
  font-size: 16px;
  font-weight: 500;
} */

/* Profile image preview styling */
.profile-img-preview {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

/* Styling for input fields inside login-fields-group */
.login-fields-group-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-fields-group-user p {
  font-size: 14px;
  color: #36454f;
}
.file-label {
  font-size: 14px;
  color: #36454f;
  margin-bottom: 0.5rem;
}

.login-fields-group-user input {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 14px;
  color: #36454f;
  padding: 1rem;
  border: 1px solid #c3c7ca;
  border-radius: 3px;
  margin-bottom: 2rem;
}

.login-fields-group-user input:focus {
  border: 1px solid rgba(3, 201, 136, 1);
  outline: none;
}

/* Responsiveness CSS */
/* For Mobile */

@media only screen and (max-width: 500px) {
  #dashboard-content-div {
    width: 100%;
    height: auto;
  }

  #dashboard-navigation-div {
    /* display: none;
    width: 100%;
    position: absolute; */
    /*  */

    /* transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    width: 100%; */
  }

  #dashboard-navigation-div.active {
    /* transform: translateX(0); */
  }

  #dashboard-navigation-div {
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen */
    width: 100%;
    height: 100%;
    background-color: #36454f;
    color: white;
    padding: 2rem;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  #dashboard-navigation-div.active {
    transform: translateX(100%); /* Slide into view */
  }

  .dashboard-navbar-left-side {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .dashboard-navbar-right-side {
    flex-direction: column-reverse;
    align-items: flex-end !important;
  }

  #navbar-admin-logo {
    padding-bottom: 0.9rem;
    padding-right: 1rem;
  }

  #navbar-admin-logo img {
    width: 30px;
    height: 30px;
  }

  #dashboard-content-navbar {
    width: 100%;
  }

  .dashboard-nav-searchbar {
    margin-left: 2rem;
  }

  .navbar-menu-icon {
    display: block;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }

  #dashboard-content-details {
    padding: 0 2rem;
  }

  .dashboard-search-input {
    width: 20vw;
  }

  #dashboard-filter-button p {
    font-size: 11px;
  }

  #dashboard-create-user-button p {
    font-size: 11px;
  }

  #dashboard-create-media-button p {
    font-size: 11px;  
  }
}




/* scroll bar changes not working */

/* #dashboard-content-details::-webkit-scrollbar {
  width: 2px !important;
}

#dashboard-content-details::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px; 
}

#dashboard-content-details::-webkit-scrollbar-track {
  background: red; 
}


#dashboard-content-div::-webkit-scrollbar {
  width: 2px !important;
}

#dashboard-content-div::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px; 
}

#dashboard-content-div::-webkit-scrollbar-track {
  background: red; 
}


#dashboard-container::-webkit-scrollbar {
  width: 2px !important;
}

#dashboard-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px; 
}

#dashboard-container::-webkit-scrollbar-track {
  background: red; 
} */