/* #dashboard-heading-text{
  font-size: 20px;
  font-weight: 600;
  margin-left: 1rem;
  margin-bottom: 2.5rem;
} */

.dashboard-component-container {
  height: auto;
  background-color: white;
  padding-left: 2rem;
  color: #36454f !important;

  display: flex;
  justify-content: space-between;
}

.dashboard-left-section {
  width: 65%;
}

.dashoboard-component-left-top-section {
  width: 100%;
}

.dashboard-text-data-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.total-users-div,
.total-media-div,
.total-client-div {
  width: 47%;
  background-color: #f1f2f2;
  border-radius: 10px;
  padding: 2rem;
}

.total-users-heading,
.total-media-heading,
.total-client-heading {
  font-size: 18px;
  font-weight: 500;
}

.total-users-count,
.total-media-count,
.total-client-count {
  font-size: 20px;
  font-weight: 600;
  /* margin: 1rem 0; */
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.total-users-sub-heading,
.total-media-sub-heading,
.total-client-sub-heading {
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  /* display: none; */
}

.dashboard-component-left-bottom-section {
}

.dashboard-right-section {
  width: 30%;
}

.dashboard-component-right-top-section {
  width: 100%;
}

.area-chart-container {
  width: 100%;
  height: 50vh;
  background-color: #f1f2f2;
  padding: 2rem !important;
  border-radius: 10px;
  /* margin: 2rem 0; */
  /* margin-left: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.area-chart-heading-text {
  font-size: 18px;
  font-weight: 500;
  /* margin-bottom: 2rem; */
}

.bottom-charts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  /* align-items: center; */
}

.bottom-chart {
  width: 100%;
  margin-bottom: 3rem;
  /* height: 100%; */
  /* margin-left: 1rem; */
  /* margin-top: 3rem; */
}

.doughnut-chart-container {
  width: 100%;
  max-height: 40vh;
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f2f2;
}

.doughnut-chart-heading-text {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  text-align: left !important;
  background-color: #f1f2f2;
  /* margin-top: 3rem; */
  padding: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bottom-charts-bottom-spacing {
  width: 100%;
  height: 5rem;
  background-color: white;
}

/* Mobile Responsiveness CSS */

@media only screen and (max-width: 500px) {
  .area-chart-container {
    margin-left: 0;
    height: 35vh;
  }

  .bottom-charts-container {
    flex-direction: column;
    width: 100%;
  }

  .bottom-chart {
    width: 100%;
    margin-top: 3rem;
    background-color: #f1f2f2;
    border-radius: 10px;
    margin-left: 0;
  }

  .doughnut-chart-container {
    width: 80%;
    height: auto;
  }

  .add-bottom-spacing {
    margin-bottom: 2rem;
  }
}
